# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.out

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Binaries for the current project
*.exe


# Go build cache and module cache
.cache/
go.sum
go.mod.bak
build

# IDE and editor files (optional, but common)
.idea/
.vscode/
*.swp
*~
